[Desktop Entry]
Comment[pl]=
Comment=
Exec=git gui
GenericName[pl]=Git gui
GenericName=Git gui
Icon=git
MimeType=
Name[pl]=Git gui
Name=Git gui
Path=/home/michal/projects/sources/builder
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
